<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <div class="conatiner col-sm-7 offset-1 ">

    <h1 class="">hello this is my assignment</h1>
    </div>

    <a href="{% url 'add' %}"> add </a><br>
    <a href="{% url 'show' %}"> show data </a>

    
</body>
</html>